<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users CRUD Operation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div align="center">
    <table class="table_2">
        <caption>Users crud operations</caption>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.birthday}">Birthday</td>
            <td>
                <a class="button" th:href="@{'/edit/' + ${user.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="button-delete" th:href="@{'/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <a class="button" th:href="@{'/add'}">Add new user</a>
</div>
</body>
</html>
